body 
{
    background-image: url("../images/COP4331_Homepage_Background.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------- */
/*  signup.html's styling:  */
/* ------------------------------------------------------------------------------------------------------- */

.signup-container {
    font-size: 1.1rem;
    font-family: 'Kalam', cursive;
    color: white;
    position: fixed;
    top: 80px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
   
}

.signup-container header{
    font-family: 'Kalam', cursive;
    font-size: 2.0rem;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: -50px;
    background-color: #011529;
    border-radius: 10px;

}

.signup-container .signup-form{
    font-family: 'Kalam', cursive;
    padding-top: 50px;
    color: white;
    margin-top: 0px;
    background-color: #011529;
    padding: 20px;
    border-radius: 10px;
}

.signup-container .signup-input-box{
    font-family: 'Kalam', cursive;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
}

.signup-form .signup-input-box input{
    font-family: 'Kalam', cursive;
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    font-size: 25px;
    margin-top: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 0 10px;
}


.signup-container .signup-button-container {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-top: 50px;
}

.signup-container .signup-button-left,
.signup-container .signup-button-right {
    font-family: 'Kalam', cursive;
    flex: 1;    
    padding: 0 50px;
}

.signup-container .signup-button-left button,
.signup-container .signup-button-right button {
    font-size: 17px;
    font-family: 'Kalam', cursive;
    padding: 10px 20px;
    color: white;
    background-color: #10467A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    
    margin-bottom: 20px;
}

.signup-container .signup-button-left button:hover,
.signup-container .signup-button-right button:hover {
    font-family: 'Kalam', cursive;
    background-color: #2b89e0;

}



#signinResultMessage{
    display: block;
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Kalam', cursive;
    color: white;
}

/* ------------------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------------------------------- */
/*  signup-login.html's styling:  */
/* ------------------------------------------------------------------------------------------------------- */

.login-container {
    font-size: 1.1rem;
    font-family: 'Kalam', cursive;
    color: white;
    position: fixed;
    top: 80px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

.login-container header {
    font-family: 'Kalam', cursive;
    font-size: 2.0rem;
    color: white;
    font-weight: 500;
    text-align: center;
    padding: 40px 20px;
    margin-bottom: -50px;
    background-color: #011529;
    border-radius: 10px;
}

.login-container .login-form {
    font-family: 'Kalam', cursive;
    padding-top: 50px;
    color: white;
    margin-top: 0px;
    background-color: #011529;
    padding: 20px;
    border-radius: 10px;
}

.login-container .login-input-box {
    font-family: 'Kalam', cursive;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
}

.login-form .login-input-box input {
    font-family: 'Kalam', cursive;
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    font-size: 25px;
    margin-top: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 0 10px;
}

.login-container .login-button-container {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.login-container .login-button-left,
.login-container .login-button-right {
    font-family: 'Kalam', cursive;
    flex: 1;
    padding: 0 50px;
}

.login-container .login-button-left button,
.login-container .login-button-right button {
    font-size: 17px;
    font-family: 'Kalam', cursive;
    padding: 10px 20px;
    color: white;
    background-color: #10467A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.login-container .login-button-left button:hover,
.login-container .login-button-right button:hover,
.login-container .login-button-center button:hover {
    font-family: 'Kalam', cursive;
    background-color: #2b89e0;

}

#loginResult {
    font-size: 1.1em;
    width: 90%;
    text-align: center;
    margin: 10px auto;
    color: white;
}

.login-button-center {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
}

.login-container .login-button-center button {
    font-size: 17px;
    font-family: 'Kalam', cursive;
    padding: 10px 20px;
    color: white;
    background-color: #10467A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* ------------------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------------------------------- */
/*  index.html's styling:  */
/* ------------------------------------------------------------------------------------------------------- */



.main-page {
    display:flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 3rem;
    width: 500px;
    text-align: center;
    font-family: 'Kalam', cursive;
    color: #FFFFFF;
    background-color: #10467A;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    position: absolute;
    padding-top: 15px;
}

.signup-login-button {
    font-family: 'Kalam', cursive;
    border: none;
    position: absolute;
    display: flex;
    margin-top: 170px;
}

.btn-custom {
    font-family: 'Kalam', cursive;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    display:inline-block;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #10467a;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-custom:hover {
    background-color: #2b89e0;
}

.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }

